body {
  box-sizing: border-box;
}
.all {
  box-sizing: border-box;
  display: inline-block;
  min-width: 15cm;
  height: 12cm;
  border: solid darkmagenta;
}

.all::after {
  clear: both;
  display:table;
  content: "";
}

.face {
  display: inline-block;
  overflow: visible;
  box-sizing: border-box;
  float: left;
  min-width: 80mm;
  height: 100%;
  border: grey 1px dashed;
}

.center {
  /* width: 2cm; */
  height: 100%;
  float: left;
  border-top: grey thin dashed;
}

#title {
  font-size: 15mm;
  line-height: 2cm;
  text-align: center;
  vertical-align: middle;
  /* color: white; */
  /* background: #b71b9a; */
  font-family: serif;
  writing-mode: vertical-rl;
}

img {
    box-sizing: border-box;
    border: blue solid thin;
    max-width: 100%;
    max-height: 100%;
}

.all:after {
    /* content: ""; */
    /* display: table; */
    /* clear: both; */
}

.data {
    /* border: green solid; */
    /* top: 0; */
    position: relative;
    /* display: block; */
    /* height: 200px; */
    /* float: left; */
}
.col {
    position: relative;
    border: grey solid thin;
    top: 0;
    left: 0;
    font-size: 11pt;
    font-family: sans-serif;
    padding: 0.8em;
    margin: 0.5em;
    display: none;
}

@media print {
  .data {
    display: none;
  }
  .face, .center, img {
    border: none
  }
  .all {
    border: grey solid thin;
  }
}

div#middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

input[type="text"] {
    /* position: absolute; */
    /* right: 10px; */
    /* border: none; */
    font-size: 11pt;
    /* border-bottom: violet solid; */
    /* width: 160px; */
    /* margin-bottom: 3px; */
}
.col h1 {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

.col p {
    margin: 4px 0;
    line-height: 1.4em;
}

label {
    /* width: 100%; */
}


input[type="color"] {
    /* position: absolute; */
    /* right: 10px; */
    width: 160px;
    /* box-sizing: border-box; */
    /* padding: 0; */
}

canvas {
  /* border: solid darkgreen thick; */
  max-width: 100%;
  max-height: 100%;
}
#info {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  display: none;
  outline: 1px solid #fff;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 181px;
  z-index: 2;
}

#zoomer {
  background-image: -moz-linear-gradient(-45deg, #eee 25%, #ddd 25%, #ddd 50%, #eee 50%, #eee 75%, #ddd 75%);
  background-image: -o-linear-gradient(-45deg, #eee 25%, #ddd 25%, #ddd 50%, #eee 50%, #eee 75%, #ddd 75%);
  background-image: -webkit-linear-gradient(-45deg, #eee 25%, #ddd 25%, #ddd 50%, #eee 50%, #eee 75%, #ddd 75%);
  background-size: 20px 20px;
  border: 1px solid #fff;
  height: 81px;
  outline: 1px solid #000;
  overflow: hidden;
  position: relative;
}

#zoomed {
  position: relative;
}

#crosshair {
  left: 84px;
  position: absolute;
  top: 35px;
  z-index: 3;
}

#hover {
  border-bottom: 1px solid #000;
}

.color-info {
  background: -moz-linear-gradient(top, #eee, #ddd);
  background: -o-linear-gradient(top, #eee, #ddd);
  background: -webkit-linear-gradient(top, #eee, #ddd);
  border-top: 1px solid #fff;
  font-family: monospace;
  font-size: 12px;
  padding: 5px;
  text-shadow: 0px 1px 0px #fff;
}

.color-info:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.color-info input {
  background-color: transparent;
  border: 0;
  font-family: monospace;
  font-size: 11px;
  outline: 0;
  padding: 0;
  text-shadow: 0px 1px 0px #fff;
}

.color-preview {
  background: #fff;
  border: 1px solid #fff;
  float: right;
  height: 48px;
  outline: 1px solid #000;
  width: 48px;
  z-index: 2;
}

#coord {
  font-size: 10px;
  left: 2px;
  position: absolute;
  top: 0;
  z-index: 2;
}

